html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #C63C22;
}

/* visited link */
a:visited {
  color: #C63C22;
}

/* mouse over link */
a:hover {
  color: coral;
}

/* selected link */
a:active {
  color: #C63C22;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 100vh;
}

.filter {
  font-size: medium;
  border-radius: 5px;
  border: 1px solid black;
  padding: 3px;
  margin: 100px 0 10px 0;
}

.list {
  background-color: #222;
  height: 80%;
  color: white;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  overflow-x: hidden;
}

.hidden {
  width: 0;
  visibility: hidden;
}

.show {
  width: 270px;
  visibility: visible;
}

.list ul {
  display:inline-block;
  margin-left: 0;
  padding: 0;
  width: 220px;
}

.list li {
  cursor: pointer;
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #CE8400;
  padding: 5px 10px 5px 10px;
  margin: 10px 0 10px 0;
  font-weight: bold;
  color: #222;
}

.list li:hover {
  background-color: #FFA800
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: xx-large;
  z-index: 2;
  cursor: pointer;
}

.loading {
  padding-top: 10%;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.main {
  width: 80%;
  flex: 3;
  position: relative;
  min-height: 100%;
}

.header {
  background-color: #222;
  height: 20%;
  min-height: 150px;
}

.map-cnt {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  flex: 1;
}

.info-window {
  text-align: center;
}

.details {
  list-style-type: none;
  padding-left: 20px;
  text-align: left;
}